@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Rajdhani', sans-serif;
    max-width: 100vw;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    cursor: none;
}

a {
    text-decoration: none;
    color: black;
    cursor: none;
}

.hide {
    display: none;
}

.social-icons {
    &:hover {
        transform: scale(1.1);
    }
}

//variables
$white: #fff;
$black: #000;
$green: #1bb146;
$orange: #f7c001;
$dark-orange: #ff4e00;
$red: #ee0a1b;
$gradient: linear-gradient(136deg, $green, $orange, $red);

$super-header-font-size: 192px;
$header-font-size: 128px;
$title-font-size: 64px;
$description-font-size: 32px;
$detail-font-size: 16px;

$line-height: 5rem;

$font-weights: (
    'light': 300,
    'regular': 400,
    'medium': 500,
    'semi-bold': 600,
    'bold': 700,
);

//mixin
@mixin flexContainer($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@mixin gradientText {
    background: $gradient;
    background-clip: text;
    color: transparent;
}
//function
