#nav-bar-wrapper {
    position: fixed;
    top: 0;
    left: 5%;
    z-index: 100;
    min-height: 10vh;
    width: 90%;
    pointer-events: none;
    @include flexContainer(row);

    justify-content: space-between;

    .logo-link-wrapper {
        color: $black;
        transition: transform 0.3s;
        pointer-events: all;
    }
    .hover-logo-wrapper-style {
        transform: scale(1.3);
    }

    .logo {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: $white;
        font-size: $description-font-size;
        font-weight: map-get($font-weights, bold);
        -webkit-text-stroke: 1px $white;
        @include flexContainer(row);
    }
    .nav-links-wrapper {
        width: 20%;
        @include flexContainer(row);
        justify-content: space-around;
    }

    .nav-link {
        @extend .logo-link-wrapper;
        font-size: $detail-font-size;
        -webkit-text-stroke: 0.2px $white;
        padding: 0.5rem;
        font-weight: map-get($font-weights, medium);
    }

    .hover-link-style {
        @extend .hover-logo-wrapper-style;
        font-weight: map-get($font-weights, bold);
        -webkit-text-stroke: 0.5px $white;
        padding: 0.5rem;
        background-color: $white;
        border-radius: 4px;
        pointer-events: initial;
    }
}
