#projects {
    min-height: 90vh;
    margin-top: 10vh;
    width: 100%;
    z-index: 99;
    position: relative;
    @include flexContainer(column);
    justify-content: space-around;
    .projects-title-wrapper {
        position: relative;
        align-self: flex-start;
        margin-left: 5%;
        margin-bottom: 5vh;
        @include gradientText;
        -webkit-text-stroke: 2px $white;
        .projects-title {
            padding-left: 1rem;
            font-size: $title-font-size;
        }
    }
    .conceal {
        opacity: 0;
    }

    .projects-container {
        width: 90%;
        margin: auto;
        display: grid;
        height: 75vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        .news {
            grid-area: first;
        }
        .todo {
            grid-area: second;
        }
        .apple {
            grid-area: third;
        }
        .rock {
            grid-area: fourth;
        }
        grid-template-areas:
            '. first .'
            'third first fourth'
            'third second fourth'
            '. second .';
    }

    .project-wrapper {
        position: relative;
        border: 1px solid $black;
        background-clip: padding-box;
        background-color: $white;
        border-radius: 6px;
        @include flexContainer(column);
        justify-content: space-between;
        width: 90%;
        margin: auto;
        min-height: 15rem;
        text-align: center;
        padding: 1rem;
        color: $black;
        transition: border 0.3s ease;

        .project-cta {
            border-radius: 4px;
            width: 5.5rem;
            padding: 0.2rem;
            border: 0.3px solid;
            border-color: rgba(0, 0, 0, 0.03);
        }
        &:hover {
            border: 3px solid transparent;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: -1;
                margin: -3px;
                border-radius: inherit;
                background: $gradient;
            }
        }
    }

    .modal-wrapper {
        position: absolute;
        @include flexContainer(row);
        width: 90%;
        margin: auto;
        top: 5%;

        box-shadow: rgba(0, 0, 0, 0.03);
        height: 80vh;
        background: $white;
        border-radius: 8px;
        justify-content: space-around;
        .giphy-wrapper {
            width: 50%;
            @include flexContainer(column);
            .close-modal-wrapper {
                align-self: flex-start;
            }
            .modal-icons-container {
                @include flexContainer(row);
                justify-content: space-around;
                width: 30%;
            }
        }
        .information-wrapper {
            width: 50%;
            height: 100%;
            @include flexContainer(column);
            align-items: flex-start;
            justify-content: space-between;
            .modal-title {
                @include gradientText;
                -webkit-text-stroke: 2px $white;
                font-size: $title-font-size;
            }
            .tech-style-wrapper {
                display: flex;
                width: 50%;
                justify-content: space-between;
            }
            .libraries-wrapper {
                width: 100%;

                .front-back-wrapper {
                    .library-title {
                        text-decoration: underline;
                    }
                    display: flex;
                    width: 50%;
                    justify-content: space-between;
                }
            }
        }
    }
}
